Let's say we work at a credit card company and we're trying to figure out if people are going to pay their bills on time. We have everyone's purchases, split into four main categories: groceries, dining out, utilities, and entertainment. What are some ways you might use KNN to create this model? What aspects of KNN would be useful? Write up your thoughts in submit a link below.

In [1]:
import pandas as pd
input_data = [{'subject':1,'month':1, 'amount': 10.41, 'category':'entertainment'},
             {'subject':1,'month':1, 'amount': 100, 'category':'groceries'},
             {'subject':1,'month':1, 'amount':400, 'category':'groceries'},
             {'subject':1,'month':2, 'amount': 54, 'category':'dining out'},
             {'subject':1,'month':2, 'amount': 523, 'category':'utilities'},
             {'subject':1,'month':3, 'amount': 34, 'category':'utilities'},
             {'subject':1,'month':3, 'amount': 20, 'category':'entertainment'}]

pd.DataFrame(input_data)

   amount       category  month  subject
0   10.41  entertainment      1        1
1  100.00      groceries      1        1
2  400.00      groceries      1        1
3   54.00     dining out      2        1
4  523.00      utilities      2        1
5   34.00      utilities      3        1
6   20.00  entertainment      3        1

In [9]:
import pandas as pd
ground_truth = [{'subject':1,'month_bill_due':1, 'amount_due': 10.41, 'paid_on_time':1 },
                  {'subject':1,'month_bill_due':2, 'amount_due': 100.41, 'paid_on_time':1},
                  {'subject':1,'month_bill_due':3, 'amount_due': 101.41, 'paid_on_time':0},
                  {'subject':1,'month_bill_due':4, 'amount_due': 103.41, 'paid_on_time':1},
             ]

pd.DataFrame(ground_truth)

   amount_due  month_bill_due  paid_on_time  subject
0       10.41               1             1        1
1      100.41               2             1        1
2      101.41               3             0        1
3      103.41               4             1        1

__Feature Engineering:__

- Create features that could be represented visually in the verctor space. For example, combining months (12) and categories (4) to create a set of new attributes (e.g., entertainment_Jan, grocery_Feb etc.). 
- Once such features are created values will be normalized across categories. For example, all entertainment values should be normalized separately from the grocery values. 
- Combine paid_on_time with the newly formed features and now we have our dataset ready. 
- Since KNN does not do well with a lot of attributes, keeping a finite and minimal set of attributes will be useful. 
- Distance metrics: after normalizing we can use Euclidian distance metrics for measuring the distance between vectors. 

__Training and Testing__
- If there are historical data, a 70:30 split in the training and testing will be ideal for running the models.